[submodule "services/deer-flow"]
	path = services/deer-flow
	url = https://github.com/zjt9363/deer-flow.git
[submodule "services/models/gemma-4-e4b-it"]
	path = services/models/gemma-4-e4b-it
	url = https://huggingface.co/google/gemma-4-E4B-it
